div#settings-wrap {
    display: flex;
    height: 100%;
}

nav#settings-nav {
    flex: 1 1;
    min-width: 200px;
    height: 100%;
    display: inline-block;
}

div#settings-view {
    flex: 8;
}

a.fbx-settings-nav-link {
    display: block;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 14pt;
    color: #303030;
    padding: 3%;
    padding-left: 15%;
    text-align: right;
}

.fbx-link-active a.fbx-settings-nav-link, .fbx-link-active a.fbx-settings-nav-link:hover {
    background: #88d570;
    color: #417531;
}

a.fbx-settings-nav-link span.fa {
    width: 20%;
    text-align: center;
    padding: 5% 2%;
}

span.fbx-settings-nav-link-label {
    width: 72%;
    display: inline-block;
    padding: 4% 0;
}

.fbx-link-active
 span.fa, .fbx-link-active a.fbx-settings-nav-link:hover span.fa {
    background: #86cb70;
}

a.fbx-settings-nav-link:hover {
    background: #303030;
    color: #88d570;
}

a.fbx-settings-nav-link:hover span.fa {
    background-color: #88d570;
    color: #303030;
    border-radius: 3px;
}

h1#apps_list-header {
    font-size: 16pt;
    background: none;
    margin: 20px 0;
    padding: 0;
}

.nav-header span.nav-header-text {font-family: 'Roboto';}

h1.nav-header {
    text-align: center;
    padding: 6%;
    font-size: 18pt;
    color: #fff;
    font-weight: normal;
    background: #333;
}

h1.nav-header .fa {color: #88d570;}

@media screen and (min-width: 1200px) {
    h1#apps_list-header {
        padding: 10px;
        background: none;
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
  h1.nav-header {
    text-align: right;
    padding: 10%;
  }

  .sidebar-open nav#settings-nav {
    align-items: center;
    display: flex;
  }

  .sidebar-open #settings-nav ul {
      width: 100%;
  }

  /* Shrink the Settings Nav Bar */
  .sidebar-open #settings-nav h1.nav-header {
    display: none;
  }

  .sidebar-open #settings-nav ul .fbx-settings-nav-link-li .fbx-settings-nav-link-label {
    display: none;
  }

  .sidebar-open #settings-nav span.fa {
    font-size: 20pt;
    width: 100%;
    margin: 0;
    padding: 21% 0;
  }

  .sidebar-open nav#settings-nav {
      max-width: 64px;
      min-width: 64px;
  }

  .sidebar-open h1.nav-header {
      padding-top: 80px;
      text-align: center;
  }

  .sidebar-open a.fbx-settings-nav-link {
      padding:  0;
  }
  /* End Shrink the Settings Nav Bar */
}

@media screen and (max-width: 570px) {
  /* Shrink the Settings Nav Bar */

    nav#settings-nav {
      align-items: center;
      display: flex;
    }

    #settings-nav ul {
        width: 100%;
    }

    #settings-nav .nav-header {
      display: none;
    }

    #settings-nav ul .fbx-settings-nav-link-li .fbx-settings-nav-link-label {
      display: none;
    }

    #settings-nav span.fa {
      font-size: 20pt;
      width: 100%;
      margin: 0;
      padding: 21% 0;
    }

    nav#settings-nav {
        min-width: 60px;
    }

    h1.nav-header {
        padding-top: 80px;
        text-align: center;
    }

    a.fbx-settings-nav-link {
        padding:  0;
    }
  /* End Shrink the Settings Nav Bar */
}

@media screen and (max-width: 450px) {
  .sidebar-close nav#settings-nav {
    display: none;
  }
}
