div#fbx-content-canvas.canvas-login {
    left: 0;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    align-items: stretch;
}

div#fbx-content-canvas.canvas-login div#team-logo {
    flex: 1;
    text-align: center;
    padding: 1%;
    background: #222222;
    display: flex;
    align-items: center;
		justify-content: center;
}

div#fbx-content-canvas.canvas-login div#team-logo img {
    width: 100%;
}

div#fbx-content-canvas.canvas-login div#forkbox-login-box {
    flex: 3 1;
    display: flex;
    background: #303030;
    align-items: center;
    justify-content: center;
}

div#fbx-content-canvas.canvas-login form#forkbox-login-form {
    display: flex;
    flex-direction: column;
    padding: 8% 2%;
    width: 100%;
    max-width: 450px;
    align-items: center;
    background: #292929;
}

div#fbx-content-canvas.canvas-login input#forkbox-login-username {
    flex: 1;
}

div#fbx-content-canvas.canvas-login input#forkbox-login-password {
    flex: 1;
}

div#fbx-content-canvas.canvas-login .forkbox-login-field {
	border: none;
	background-color: #404040!important;
	width: 96%;
	padding: 2%;
	font-size: 17pt;
	color: #ade262!important;
	-webkit-text-fill-color: #ade262;
}
div#fbx-content-canvas.canvas-login input#forkbox-login-submit_button {
    background: #ade262;
    border: none;
    font-weight: bold;
    font-size: 17pt;
    padding: 2.5% 5%;
    width: 100%;
    border-radius: 2px;
}

div#fbx-content-canvas.canvas-login input.forkbox-login-field:-webkit-autofill,
div#fbx-content-canvas.canvas-login input.forkbox-login-field:-webkit-autofill:hover,
div#fbx-content-canvas.canvas-login input.forkbox-login-field:-webkit-autofill:focus {
	font-size: 17pt;
	color: #303030;
	-webkit-box-shadow: 0 0 0 30px #404040 inset !important;
}

div#fbx-content-canvas.canvas-loading {
    display: flex;
    width: auto !important;
    left: 0;
    background: #303030;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2#fbx-loading {
    text-align: center;
    color: #303030;
    background: #8BC34A;
    font-family: 'Roboto', sans-serif;
    height: unset;
    padding: 1% 2%;
    font-size: 24pt;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
	div#fbx-content-canvas.canvas-login {flex-direction: column;}

	div#fbx-content-canvas.canvas-login div#team-logo {
    max-height: 20vw;
		justify-content: left;
	}

	div#fbx-content-canvas.canvas-login div#team-logo img {
	    width: auto;
	    max-height: 100%;
	}

	div#fbx-content-canvas.canvas-login form#forkbox-login-form {
	    max-width: unset;
	}

	div#fbx-content-canvas.canvas-login input#forkbox-login-submit_button {
	    margin: 5% 0;
	}

	div#fbx-content-canvas.canvas-login .forkbox-login-field {
	    font-size: 25pt;
	    padding: 3% 2%;
	}
}
