@import url('https://fonts.googleapis.com/css?family=Roboto');

*:focus {
    outline: none;
}

body {
	background: #fff;
	background-size: 65%;
	background-position: 5px -76px;
}

div#root {
    width: 100%;
    overflow-x: hidden;
}

div#fbx-content-wrap {
	position: relative;
	width: 100%;
}

div#fbx-content-sidebar {
	position: fixed;
	width: 185px;
	height: 100%;
	/* overflow-x: hidden; */
	z-index: 100;
}

div#fbx-sidebar-content {
	position: relative;
	background: #303030;
	width: 100%;
	min-height: calc(100vh - 90px);
	height: 100%;
	padding-bottom: 90px;
}

div#fbx-sidebar-header-wrap {
    position: relative;
    margin-top: 0;
    padding: 6%;
    text-align: center;
    background: #292929;
}

a#fbx-sidebar-header-logo {
    background: #88d470;
    position: relative;
    text-align: center;
    padding: 1%;
    height: auto;
    width: 100%;
    display: block;
}

img#fbx-sidebar-header-logo-img {
    height: 40px;
    flex: 1;
}

div#fbx-sidebar-nav-wrap {
	padding-top: 8px;
}

ul#fbx-sidebar-nav-list {
	list-style: none;
	position: relative;
	width: 100%;
	left: 0px;
	margin: 0 0;
	padding: 0 0;
}

.fbx-sidebar-nav-link-container {
	position: relative;
	width: 100%;
	height: 40px;
	margin-top: 10px;
}

.fbx-sidebar-nav-link {
	position: absolute;
	left: 0px;
	font-size: 14pt;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #878787;
	height: 100%;
	line-height: 42px;
	text-align: right;
	/* text-shadow: 1px 0px 0px #404040; */
	width: calc(100% - 14pt);
	padding-right: 14pt;
	display: flex;
  align-items: center;

}

a.fbx-sidebar-nav-link:hover {
	background: #88d470;
	color: #303030;
	text-decoration: none;
}

nav#fbx-sidebar-nav {
	position: relative;
	margin-top: 11px;
}

.fbx-sidebar-nav-link-active {
	color: #88d470;
}

.text-forklabsgreen {
	color: #88d470;
}

div#fbx-sidebar-info {
	text-align: center;
	padding-top: 22px;
	border-top: 1px solid #585858;
	margin: 0 auto;
	position: relative;
	width: 72%;
	margin-top: 29px;
	font-size: 13px;
	line-height: 22px;
	color: #878787;
	font-family: lucida grande;
}

div#fbx-sidebar-info a {
	text-decoration: none;
}

.text-bloodred {
	color: #c35858;
}

div#fbx-sidebar-info a:hover {
	text-decoration: underline;
}
.fbx-sidebar-nav-link-pointer {
	background: #88d470;
	position: absolute;
	height: 14pt;
	width: 14pt;
	transform: rotate(45deg);
	right: -17px;
	top: 9px;
	display: none;
}

.fbx-sidebar-nav-link-container-active .fbx-sidebar-nav-link-pointer {
	display: block !important;
}

span.fbx-sidebar-nav-link-label {
    font-size: 12pt;
    flex: 3;
}

.fbx-sidebar-nav-link span.fa {
    font-size: 23pt;
    flex: 1;
}

div#fbx-sidebar-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    display: none;
    z-index: 100;
    top: 9px;
}

button#fbx-sidebar-button .fa-bars {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    padding: 10px 0;
}


button#fbx-sidebar-button {
    width: 100%;
    height: 100%;
    position: absolute;
    border: none;
    color: #000000;
    background: #ffffffad;
		cursor: pointer;
}

button#fbx-sidebar-button:hover, button#fbx-sidebar-button:active {
    color: #ffffff;
    background: #8bc34a;
}

div#fbx-sidebar-userdata {
	position: fixed;
	bottom: 0px;
	width: 185px;
	height: 60px;
}

div#fbx-sidebar-username a {
    background: none;
    border: none;
    font-size: 11pt;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    background: transparent;
    height: 100%;
    color: #aaa;
    cursor: pointer;
    display: block;
    padding: 10px 0;
    font-family: roboto, sans-serif;
    text-decoration: none;
    position: absolute;
    bottom: 0px;
    height: auto;
}

div#fbx-sidebar-username a:hover {
	background-color: #444;
	color: #88d470;
}
#fbx-sidebar-username a:active {
	background-color: transparent;
	color: #555;
}

div#fbx-sidebar-username a i {
	font-size: 0.7em;
	float: right;
	position: relative;
	right: 11px;
	top: 8px;
}
.fbx-sidebar-nav-link-container-active {
    background: #2d2d2d;
}

#fbx-sidebar-username span.fa.fa-chevron-down {
    font-size: 10pt;
}

#fbx-sidebar-content button:focus {outline:0;}

@media screen and (max-width: 768px) {
	.sidebar-close #fbx-sidebar-content {
	    display: none;
	}
	#fbx-content-sidebar.sidebar-close {
    width: 0;
    overflow-x: visible;
	}
	div#fbx-content-canvas.sidebar-open {
      left: 185px;
  }
	div#fbx-sidebar-btn {
		display: block;
	}
	.sidebar-open div#fbx-sidebar-btn {
    left: 190px;
	}

	div#fbx-content-canvas {
		left: 0;
		width: 100% !important;
	}
}
