@media screen and (max-width: 769px) {
    .apps_list-app {
        width: 100% !important;
        max-width: 100% !important;
        flex: none !important;
    }

    #apps_list-list_container .row {
        width: 100%;
        max-width: 100%;
        margin-top: 0;
    }

    div#apps_list-list_container {
        width: 100% !important;
        max-width: 100% !important;
    }

    .apps_list-app-tile {
        background: #2196F3 !important;
        width: 30% !important;
        display: inline-block;
        padding: 10px 0;
        color: #ffffff;
        font-weight: bold;
    }

    div#apps_list-app-4 {
    }

    .apps_list-app-description {
        display: inline-block;
        width: 66%;
        text-align: left;
        margin-left: 1%;
    }

    .apps_list-app {
        background: #f7f7f7;
        margin-top: 5px;
    }
}
