h1.fbx-apps-page_title {
	text-align: center;
	font-family: arial;
	color: #303030;
	padding: 21px 0px;
	color: #303030;
	font-weight: normal;
	font-size: 2vw;
}

ul#fields_list {
	list-style: none;
	width: 98%;
	position: relative;
	left: 1%;
}

input.fbx-apps-input-text {
	font-size: 2vw;
	padding: 4px;
	border: 2px solid #303030;
	border-radius: 3px;
	margin-left: 22px;
}

select.fbx-apps-input-select {
	background: none;
	border: none;
	border-radius: 3px;
	font-size: 2vw;
	border: 2px solid #303030;
	height: 43px;
	margin-left: 20px;
}

.fbx-apps-list_item {
	margin-top: 30px;
}

.fbx-apps-button {
	border: none;
	background: #303030;
	color: #88d470;
	font-size: 1.3em;
	padding: 10px 30px;
	font-family: lucida grande;
	position: relative;
	margin: 0 auto;
	margin-top: 10px;
	left: 7%;
}

input.fbx-apps-input-submit {
	background: #88d470;
	border: none;
	font-size: 1.3em;
	padding: 8px 20px;
	margin-top: 20px;
	position: relative;
	left: 7%;
}
h1#apps_list-header {
	position: relative;
	text-align: center;
	font-family: arial;
	color: #303030;
	padding: 20px 0px;
	background: #88d470;
}

p#apps_list-page_description {
	position: relative;
	font-family: arial;
	text-align: center;
	padding: 17px 0px;
	color: #303030;
	font-size: 1.2em;
}

ul#apps_list-list {
	list-style: none;
}

.apps_list-app {
	text-align: center;
	position: relative;
	max-width: 30% !important;
	margin-left: 2% !important;
}

.apps_list-app-tile {
	font-size: 1em;
	font-family: arial;
	background: #303030;
	padding: 30px 0;
	color: #fff;
}

.apps_list-app a {
	text-decoration: none;
	left: 0px;
	color: #303030;
	width: 100px !important;
	position: relative;
	width: 100% !important;
	top: 0;
}

.apps_list-app-description {
	font-family: arial;
	font-size: 1em;
	font-weight: bold;
	padding: 5% 0;
}

.apps_list-app a:hover {
}

.apps_list-app a:hover .text-forklabsgreen {
	color: #303030 !important;
	text-decoration: underline !important;
	font-weight: bold;
}

form#fbx-cn-form {
	text-align: center;
}

form#fbx-cn-form input {
	border: none;
	font-size: 1.5em;
	margin-top: 10px;
	padding: 5px 10px;
	width: calc(25% - 20px);
	border-radius: 4px;
	background: #eaeaea;
}

form#fbx-cn-form select {
	border: none;
	border-radius: 0px;
	background: #eaeaea;
	font-size: 1.5em;
	color: #303030;
	margin-top: 20px;
	width: 25%;
	padding: 5px 0px !important;
	text-align: center;
}

button#fbx-cn-submit {
	font-size: 1.5em;
	margin-top: 30px;
	margin-bottom: 50px;
	background: #88d470;
	border: none;
	color: #303030;
	padding: 5px 10px;
	width: calc(25% - 20px);
	border-radius: 3px;
	font-family: trebuchet ms;
}

div#apps_list-list_container {
	position: relative;
	margin-top: 10px;
}
.apps_list-app:hover {
	text-decoration: none;
}

.apps_list-app:hover a {
	color: #303030;
	text-decoration: none;
}

.apps_list-app:hover a .text-forklabsgreen {
	color: #303030 !important;
	text-decoration: none !important;
	background: #87d56f;
}

div#apps_list-search_button {
	text-align: center;
	margin: 27px 0;
}

div#apps_list-search_button a,
div#apps_list-search_button a:active {
	background: #87d56f;
	padding: 4px 8px;
	font-size: 1.6em;
	color: #303030;
	font-weight: bold;
}

div#apps_list-search_button a:hover {
	text-decoration: none;
	background: #303030;
	color: #87d56f;
}

div#apps_list-search_button a:active {
	position: relative;
	top: 2px;
}
div#app_connections-load {
	background: #ebebeb;
	width: 98%;
	margin-left: 1%;
	padding: 1%;
}

.app_connection-item_field-label {
	font-weight: bold;
	font-size: 1em;
	padding: 4px 0px;
	color: #505050;
	margin-bottom: 17px;
}

.app_connection-item_field-wrap {
	text-align: center;
}

.app_connection-item_field-input input {
	width: 80%;
	padding: 6px;
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
	color: #606060;
}

.app_connection-item_field-input {
	margin-bottom: 21px;
}

.app_connection-item_field-label span {
	background: #87d56f;
	padding: 3px;
	color: #303030;
}

button.app_connection-item_update-submit {
	position: relative;
	margin: 0 auto;
}

.app_connection-app_buttons {
	text-align: center;
}

.app_connection-app_buttons a {
	background: #0089ff;
	color: #fff;
	font-weight: bold;
	padding: 0.3em 1em;
	font-size: 1.5em;
}

.app_connection-app_buttons button {
	background: #87d56f;
	font-weight: bold;
	color: #303030;
	font-size: 1.5em;
	padding: 0.1em 2em;
	margin-left: 1em;
}
p#apps_list-createdby {
	text-align: center;
}

div#app_connect_button {
	text-align: center;
}
#apps_list-list_container .row {margin-top: 30px;}

.apps_list-app-description span.text-forklabsgreen {
    background: #ebebeb;
    padding: 1% 3%;
    border-radius: 10px;
    color: #303030;
}

.apps_list-app:hover a .apps_list-app-description {
    background: #303030;
    color: #87d56f;
}

.apps_list-app:hover a .apps_list-app-tile {
    background: #87d56f;
    color: #303030;
    font-weight: bold;
    font-size: 1.25em;
}

div#apps_search-header {
    text-align: center;
    background: #87d56f;
}

div#apps_search-box
 input[type="text"] {
    height: 50px;
    padding: 1% 5%;
    font-size: 1.25em;
    border: none;
}

div#apps_search-box #apps_search-box-submit {
    border: none;
    font-size: 1.25em;
    height: 50px;
    position: relative;
    top: -4px;
    background: #303030;
    color: #86d56e;
    font-weight: bold;
}

div#apps_search-box {
    background: rgba(0,0,0,0.1);
    padding: 0.75% 0;
}
div#apps_search-results {
    background: #ebebeb;
    padding: 1%;
    font-size: 1.5em;
    margin-top: 20px;
}

div#apps_search-results a {
    background: #303030;
    padding: 2% 5%;
    color: #86d56e;
    font-weight: bold;
}

div#apps_search-results p {
    margin: 0;
}

#fbx-panel-workspace iframe {
    border: none;
}

div#fbx-panel-workspace {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 769px) {
    .apps_list-app {
        width: 100% !important;
        max-width: 100% !important;
        flex: none !important;
    }

    #apps_list-list_container .row {
        width: 100%;
        max-width: 100%;
        margin-top: 0;
    }

    div#apps_list-list_container {
        width: 100% !important;
        max-width: 100% !important;
    }

    .apps_list-app-tile {
        background: #2196F3 !important;
        width: 30% !important;
        display: inline-block;
        padding: 10px 0;
        color: #ffffff;
        font-weight: bold;
    }

    div#apps_list-app-4 {
    }

    .apps_list-app-description {
        display: inline-block;
        width: 66%;
        text-align: left;
        margin-left: 1%;
    }

    .apps_list-app {
        background: #f7f7f7;
        margin-top: 5px;
    }
}
