html,
* {
	margin: 0 0;
	padding: 0 0;
}

div#fbx-content-canvas {
	width: calc(100% - 247px);
	position: relative;
	height: 1px;
	left: 185px;
}

div#fbx-content-canvas {
    height: 100vh;
    width: calc(100% -  185px);
}

/* Loading Spinner */
#loading_spinner {
    text-align: center;
    display: block;
    width: 100px;
    margin: 100px auto;
    height: 17px;
    color: #5e5e5e;
}

#loading_spinner span.fa.fa-flask {
    transform: rotate(44deg);
    position: relative;
    left: 9px;
    top: -15px;
}
